* {
  color: white;
  font-family: Helvetica;
}

body {
  background-color: rgb(34, 34, 34); 
  margin: 100px;
}

h1 {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 500%;
}

h2 {
  font-family: helvetica;
}


p {
  /* font-family: courier; */
  font-size: 80%;
}
