
body {
  background-color: rgb(34, 34, 34); 
  margin: 100px;
}

h1, h2, h3 {
  color: white;
  font-family: helvetica;
  
}

h1 {
  font-weight: 700;
  font-size: 500%;
}
  
h2 {
  font-size: 200%;
}



.row {
  display: flex;
}

.half {
  flex: 1 1 0;
  max-width: 50%;
  min-width: 300px; /* Or any other minimum pixel size you prefer */
  width: auto;
}

.column {
  flex: 1;
}


p, li {
  color: white;
  font-family: helvetica;
  /* font-family: courier; */
  font-size: 80%;
}

a { color: cyan; }

a:link { text-decoration: none; }

a:visited { text-decoration: none; }
a:hover { text-decoration: underline; 
  color: magenta;
}
a:active { text-decoration: underline; }
