
body {
  background-color: rgb(34, 34, 34); 
  margin: 100px;
}

h1 {
  color: white;
  font-family: helvetica;
  font-weight: 700;
  font-size: 500%;
}


h2 {
  color: white;
  font-family: helvetica;
  font-size: 200%;
}


p {
  color: white;
  font-family: helvetica;
  /* font-family: courier; */
  font-size: 80%;
}

a { color: cyan; }

a:link { text-decoration: none; }

a:visited { text-decoration: none; }
a:hover { text-decoration: underline; 
  color: magenta;
}
a:active { text-decoration: underline; }
